:root {
    --gray-divider: #7676766b;
    --gray-text : #767676;
  }

body{
     margin: 0px;
}

.header{
    /* background-color: wheat; */
    padding: 0rem 0rem 0rem 2.5rem;
}

/*Top navbar styling start*/

.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
}

.search_form_top{
    background-color: #eee;
    /* width: 30rem; */
    height: 40px;
    display: flex;
    border-radius: 24px;
    align-items: center;
    padding: 0px 10px;
    width: 50%;
    justify-content: space-between;
}

#top-search{
    width: 43rem;
    height: 30px;
    outline: none;
    background: #eee;
    border: none;
}

.Menu_list{
    display: flex;
    list-style: none;
    gap: 1rem;
    font-size: 14px;
    color: var(--gray-text);
    align-items: center;
}

.end_divider{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.submit_button{
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    height: 32px;
    line-height: 30px;
    padding: 0 11px;
    border: 1px solid #d1d1d1;
    color: var(--gray-text);
}

/*Top navbar styling start*/

/*Catogories section styling start*/

.catgories_container{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    align-items: center; 
}

.upper_text{
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.catgories_margin{
    margin-left: -20px;
}

.wrap{
    flex-wrap: wrap;
}
/*Catogories section styling end*/

/*Banner section styling start*/

.banner_section{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner_section_image{
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.banner_section__header{
     color: white;
     position: absolute;
}

.banner_section__header h1{
    font-size: 50px;
}

.banner_section__header__tagline{
    font-size: 18px;
    line-height: 1.5;
}

.Search_form_banner{
    background-color: white;
    width: 46rem;
    height: 50px;
    display: flex;
    padding: 0px 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
}

#banner_search{
    width: 40rem;
    height: 35px;
    outline: none;
    border: none;
}

.banner_search_subtext{
    display: flex;
    align-items: center;
    gap: 5px;
}

.trending_list{
    display: flex;
    list-style: none;
    gap: 5px;
    font-size: 14px;
    color: white;
    margin-left: -40px;
}

.banner-section__footer{
    width: 100%;
    display: flex;
    padding: 0rem 0rem 0rem 0rem;
    height: 2rem;
    position: absolute;
    color: white;
    bottom: 0;
    font-size: 13px;
}

.gray_text{
    color: var(--gray-text);
}

.banner-section__footer > :first-child{
    width: 40%;
    padding-left: 2.5rem;
}

.banner-section__footer > :nth-child(2){
    width: 60%;
}

/*Gallery section styling end*/

/*Gallery section styling start*/

.image_container{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;

    display: flex;
    justify-content: center;
}

.gallary_section{
    display: flex;
    gap:15px;
    width: 80%;
    justify-content: center;
}

.gallery_column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallery_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*Gallery section styling end*/

.divider{
  border-left: 1px solid var(--gray-divider);
  height: 30px;
}

@media only screen and (max-width: 600px) {
    .searh_form_banner{
        width: 20rem;
    }
  }

@media(max-width: 768px){
    .gallary_section{
        flex-direction: column;
    }

    .Search_form_banner{
       width: 25rem;
    }

    .banner-section__footer{
        font-size: 5px;
    }

}


