body{
     margin: 0px;
}

.header{
    background-color: wheat;
    padding: 0rem 0rem 0rem 2.5rem;
}

.navbar{
    /* background-color: red; */
    display: flex;
    align-items: center;
    width: 100%;
}

#top-search{
    width: 30rem;
    height: 30px;
}

.Menu_list{
    display: flex;
    list-style: none;
    gap: 1rem;
    font-size: 14px;
    color: #767676;
}

.catgories_container{
    display: flex;
    background-color: #fff;
    align-items: center; 
}

.banner_section{
    display: flex;
    background-color: green;
    flex-direction: column;
    align-items: center;
    gap: 90px;
}

.banner_section__header{
     background-color: black;
     color: white;
     margin-top: 50px;
}

#banner_search{
    width: 40rem;
    height: 35px;
}

.banner_search_subtext{
    display: flex;
    align-items: center;
}

.banner-section__footer{
    background-color: wheat;
    width: 100%;
    display: flex;
    padding: 0rem 0rem 0rem 0rem;
    height: 2rem;
}

.banner-section__footer > :first-child{
    width: 40%;
}

.banner-section__footer > :nth-child(2){
    width: 60%;
}

.gallary_section{
    background-color: blue;
    height: 500px;
}

.divider{
  border-left: 1px solid #7676766b;
  height: 30px;
}
